Source: plplot
Section: math
Priority: optional
Maintainer: Rafael Laboissiere <rafael@debian.org>
Standards-Version: 3.5.8
Build-Depends: debhelper (>= 4.1.4), tcl8.3-dev, tk8.3-dev, itcl3.1-dev, xlibs-dev | xlib6g-dev, g77, itk3.1-dev, python2.2-numeric, python2.2-dev, octave2.1-headers | octave2.0-headers, libgd2-dev, libgnome-dev, libfreetype6-dev
Build-Conflicts: f2c, fort77, python2.1-dev, python2.1

Package: libplplot5
Architecture: any
Conflicts: plplot, plplot-xwin (<= 5.1.0), plplot-tcl (<= 5.1.0), plplot-bin, plplot-c++, plplot-common
Replaces: plplot, plplot-bin, plplot-c++, plplot-common
Provides: plplot
Depends: ${shlibs:Depends}
Description: Scientific plotting library
 PLplot is relatively small, portable, freely distributable, and is rich
 enough to satisfy most users.  It has a wide range of plot types including
 line (linear, log), contour, 3D, fill, and almost 1000 characters
 (including Greek and mathematical) in its extended font set.  The package
 is designed to make it easy to quickly get graphical output; only a
 handful of function calls is typically required.  For more advanced use,
 virtually all aspects of plotting are configurable.
 .
 This package contains the PLplot libraries for C, C++, and Fortran77, as
 well as the necessary data files and some utility programs for PLplot.
 .
 See http://www.plplot.org for more information on PLplot.

Package: libplplot-dev
Architecture: all
Conflicts: plplot-dev, plplot-c++
Replaces: plplot-dev
Suggests: plplot-doc
Depends: libplplot5
Description: Scientific plotting library (development files)
 This package contains all that is needed for doing development in C, C++,
 and Fortran, a scientific plotting library.  Examples of programs for these
 languages are also included.  For development in Tcl/Tk, Python, and
 Octave, install the plplot-tcl, python-plplot, and octave-plplot packages,
 respectively.
 .
 See http://www.plplot.org for more information on PLplot.

Package: plplot-xwin
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: plplot-lib, plplot (<< 5)
Description: Scientific plotting library (X11 driver)
 This package provides the X11 driver module for PLplot, a scientific
 plotting library.
 .
 See http://www.plplot.org for more information on PLplot.

Package: plplot-gnome
Architecture: any
Depends: ${shlibs:Depends}
Description: Scientific plotting library (Gnome canvas driver)
 This package provides the Gnome canvas driver module for PLplot, a
 scientific plotting library.
 .
 See http://www.plplot.org for more information on PLplot.

Package: plplot-tcl
Architecture: any
Depends: plplot-xwin, iwidgets3.1, ${shlibs:Depends}
Conflicts: plplot-lib
Description: Tcl/Tk support for PLplot, a plotting library
 This package contains the Tcl/Tk support for PLplot, a scientific
 plotting library: shared libraries, Tcl modules, the Tk driver, and
 some programs for interactive use of PLplot (plserver and pltcl).
 Also included is the utility program plrender to render PLplot
 metafiles.
 .
 See http://www.plplot.org for more information on PLplot.

Package: plplot-tcl-dev
Architecture: all
Depends: plplot-tcl, libplplot5
Conflicts: plplot-tcl (<= 5.2.0.cvs.20030224-1)
Description: Tcl/Tk development support for PLplot, a plotting library
 This package contains the necessary files to do development in Tcl/Tk
 with PLplot, a scientific plotting library: header files, shared
 libraries links, and examples.
 .
 See http://www.plplot.org for more information on PLplot.

Package: plplot-gd
Architecture: any
Depends: ${shlibs:Depends}
Description: Scientific plotting library (GD driver)
 This package provides the GD driver module for PLplot, a scientific plotting
 library.  It allows the generation of PNG and JPEG files directly from
 PLplot programs.
 .
 See http://www.plplot.org for more information on PLplot.

Package: python-plplot
Architecture: any
Depends: ${shlibs:Depends}, python2.2
Description: Python support for PLplot, a plotting library
 This package contains the library plmodule.so for gluing the PLplot
 scientific plotting library into Python applications.  Examples are also
 provided.
 .
 See http://www.plplot.org for more information on PLplot.

Package: octave-plplot
Architecture: any
Depends: ${shlibs:Depends}, octave2.0 | octave2.1
Description: Octave support for PLplot, a plotting library
 This package contains the Octave bindings for PLplot, a scientific plotting
 library.  It provides an almost drop-in replacement for the traditional
 Gnuplot graphical interface in Octave. Examples are also provided.
 .
 See http://www.plplot.org for more information on PLplot.

Package: plplot-doc
Architecture: all
Depends: libplplot5
Suggests: libplplot-dev
Description: Documentation for PLplot, a plotting library
 This package contains the HTML and PDF forms of the PLplot
 documentation.
 .
 See http://www.plplot.org for more information on PLplot.
