#
# Declare the repositories we know about:
#

create repository plplot.git
end repository

#
# Declare the rules
# Note: rules must end in a slash
#

match /trunk/
  repository plplot.git
  branch master
end match

# Some of the PLplot branches are the result of problematic CVS
# transactions that ended up as /branches/unlabeled-<version number>
# when converted to subversion.  Probably cannot recreate whatever
# happened at CVS time so use the generic rule below for these
# "special" branches which treats these various unlabelled directories
# as separate git branches.

match /branches/([^/]+)/
  repository plplot.git
  branch \1
end match

# Note the first successful match in this file for any give directory name
# is the one that is used.  Therefore, the following 3 rules must be in
# the given order from most specific to least specific.

# Most subversion branch-style tags were stored in /tags, but some of
# the tags done as part of Debian packaging work were stored in
# /tags/debian.  These two rules are for that special case with the
# first one because "~" occurs in some of these directory names which
# forces an abort for svn-all-fast-export unless that character is
# substituted (e.g., in this case with "tilde").  N.B. this tilde
# logic only works if there is just one tilde in the
# branches/debian/<directory name> (which happens to be the case for
# PLplot).

match /tags/debian/([^~/]+)~([^/]+)/
  repository plplot.git
  branch tag--debian/\1tilde\2
end match

match /tags/debian/([^/]+)/
  repository plplot.git
  branch tag--debian/\1
end match

# More general tags rule to handle all tags other than /tags/debian

match /tags/([^/]+)/
  repository plplot.git
  branch tag--\1
end match

# This was a separate CVS project in the early history that got
# translated to /www/trunk plus an empty /www/branches and /www/tags
# in the CVS to subversion conversion that was done years ago.  We
# treat all of /www as a single git branch to capture this history
# in git.
match /www/([^/]+)/
  repository plplot.git
  branch \1
end match

